#title {
	text-align:center;
	font-size:30px;
	height:50px;
	line-height:50px;
}

#tab-selector {
	height:25px;
	border-style:none none solid none;
	border-width:1px;
}

.doc {
	width:200px;
	height:150px;
	border-style:solid;
	border-radius:8px;
	padding:5px;
	margin:20px 10px;
	vertical-align:middle;
	display:inline-block;
	background-color:WhiteSmoke;
}

.tab, .new-tab {
	float:left;
	width:80px;
	margin:0px 10px 0px 0px;
	background-color:PapayaWhip;
	border-style:solid;
	border-width:1px;
}

.current.tab {
	background-color:ivory;
}

#main {
	display:table;
	margin:0 auto;
}

.blank {
	position:relative;
}

.new.snippet {
	cursor:pointer;
	border-style:solid;
	border-width:3px;
	border-radius:8px;
	color:#C0C0C0;
}

.new.snippet:hover {
	color:#848484;
}

.snippet-block {
	width:800px;
}

.snippet {
	width:770px;
	border-style:solid;
	border-width:3px;
	border-radius:8px;
}

.snippet-top {
	border-style:inherit;
	border-width:0px 0px 1px 0px;
	padding:5px;
}

.snippet-bottom {
	padding:5px;
}

.snippet-bar {
	height:40px;
	border-style:inherit;
	border-width:1px 0px 0px 0px;
	background-color:#F0F0F0;
	display:none;
	padding:3px 10px;
}

.remove.button {
	width:20px;
	height:20px;
	border-radius:3px;
	border-width:1px;
	text-align:center;
	background-color:white;
	color:black;
}

.remove.button:hover {
	background-color:#ff704d;
}

.insert.button {
	position:relative;
	width:100%;
	height:40px;
	background-color:transparent;
	border-color:transparent;
}

.insert.button span {
	visibility:hidden;
}

.insert.button:hover span {
	visibility:visible;
}

.insert.line {
	width:400px;
	height:0px;
	border-width:2px 0px 0px 0px;
	border-style:dashed;
	border-color:red;
	visibility:inherit;
}

.button {
	border-style:solid;
	border-width:1px;
	border-color:#999999;
	border-radius:6px;
	text-align:center;
	color:white;
}

.v-middle {
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

.left {
	float:left;
}

.right {
	float:right;
}

.blue {
	background-color:#668cff;
}

.red {
	background-color:#ff704d;
}

.inline {
	display:inline-block;
}

textarea {
	padding:5px 8px 12px 8px;
	border:none;
	width:765px;
	min-height:80px;
	height:auto;
	overflow-y:hidden;
	resize:none;
	cursor:inherit;
	font-size:22;
}
