<!DOCTYPE html5>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<script type="text/javascript" src="/script/jquery.js"></script>
</head>

<body>

<div id="top"><a href="/">Late</a> / <span id="title">{{.Book.Title}}</span></div>

<div id="tab-selector">
	{{range .Book.Chapters}}<a href='{{printf "/doc/%v/%v" $.Book.Title .Num}}'><div class="{{if eq .Num $.Chapter.Num}}current {{end}}tab">{{.Num}}</div></a>{{end}}<a href="javascript:newChapter()"><div class="new-tab">New</div></a>
</div>

<div id="view-options" style="width:100%;">
	<div class="show-trans button inline" style="float:right;width:50px;margin:3px;padding:2px;background-color:lightgray;">trans</div>
	<div class="show-orig button inline" style="float:right;width:50px;margin:3px;padding:2px;background-color:lightgray;">orig</div>
	<div class="show-all button inline" style="float:right;width:50px;margin:3px;padding:2px;background-color:lightgray;">all</div>
</div>

<div id="main">
	{{range .Chapter.Snippets}}
	<div class="snippet-block">
		<button class="insert button">
			<span> <!-- why this exist? see http://stackoverflow.com/questions/4929310/why-isnt-css-visibility-working -->
				<hr class="insert line">
			</span>
		</button>
		<div class="snippet" style="display:inline-block;">
			<div class="snippet-top">
				<textarea class="orig">{{.Orig}}</textarea>
			</div>
			<hr class="snippet-divider">
			<div class="snippet-bottom">
				<textarea class="trans">{{.Trans}}</textarea>
			</div>
			<div class="snippet-bar">
				<button class="cancel button v-middle left red" style="width:80px;height:30px;">Cancel</button>
				<button class="save button v-middle right blue" style="width:80px;height:30px;">Save</button>
			</div>
		</div>
		<div class="snippet-side">
			<button class="red remove button" style="margin-bottom:15px;">-</button>
			<button class="oneliner button">1</button>
		</div>
	</div>
	{{end}}
</div>

<!-- learn from http://webcomponents.org/articles/introduction-to-html-imports/ -->
<template id="snippet-template">
	<div class="snippet-block">
		<button class="insert button">
			<span>
				<hr class="insert line">
			</span>
		</button>
		<div class="snippet" style="display:inline-block;">
			<div class="snippet-top">
				<textarea class="orig"></textarea>
			</div>
			<hr class="snippet-divider">
			<div class="snippet-bottom">
				<textarea class="trans"></textarea>
			</div>
			<div class="snippet-bar">
				<button class="cancel button v-middle left red" style="width:80px;height:30px;">Cancel</button>
				<button class="save button v-middle right blue" style="width:80px;height:30px;">Save</button>
			</div>
		</div>
		<div class="snippet-side">
			<button class="red remove button" style="margin-bottom:15px;">-</button>
			<button class="oneliner button">1</button>
		</div>
	</div>
</template>

<!--
"last snippet-block" is kind of fake snippet-block.
it doesn't have textarea for editing and live end of #main div.
use it for insert real last-snippet.
-->
<template id="last-snippet-template">
	<div class="last snippet-block">
		<button class="insert button">
			<span>
				<hr class="insert line">
			</span>
		</button>
	</div>
</template>

<script type="text/javascript">
var lastSnippet = document.querySelector("#last-snippet-template");
var lastSnippetClone = document.importNode(lastSnippet.content, true);
$("#main").append(lastSnippetClone);

// insertNewSnippet insert snippet-template when called from insert button.
function insertNewSnippet(idx) {
	var newSnippet = document.querySelector("#snippet-template");
	var newSnippetClone = document.importNode(newSnippet.content, true);
	$(newSnippetClone).insertBefore($("#main").find(".snippet-block").eq(idx));
}

$(document).on("click", ".save.button", function() {
	$block = $(this).parents(".snippet-block");
	$snippet = $block.find(".snippet");

	var idx = $block.index();
	if ( idx == -1 ) {
		console.log("wrong snippet-block index");
		return;
	}

	var chapidx = $(".current.tab").html();

	var path = $("#title").text() + "/" + chapidx + "/" + idx;
	var orig = $snippet.find(".orig").val();
	var trans = $snippet.find(".trans").val();

	$.ajax({
		url: "/save/snippet",
		data: {
			path:path,
			orig:orig,
			trans:trans,
		},
		success: function() {
			console.log("success");
		}
	});
});

// when press the cancel button,
// server will send the original contents of the snippets.
$(document).on("click", ".cancel.button", function() {
	$block = $(this).parents(".snippet-block");
	$snippet = $block.find(".snippet");

	var idx = $block.index();
	if ( idx == -1 ) {
		console.log("wrong snippet-block index");
		return;
	}

	var chapidx = $(".current.tab").html();

	var path = $("#title").text() + "/" + chapidx + "/" + idx;

	$.ajax({
		url: "/contents/snippet",
		data: {
			path:path,
		},
		dataType: "json",
		error: function() {
			console.log("error");
		},
		success: function(resp) {
			$snippet.find(".orig").val(resp.orig);
			$snippet.find(".trans").val(resp.trans);
			console.log("success");
		}
	});
});

$(document).on("click", ".insert.button", function() {
	$block = $(this).parents(".snippet-block");
	$snippet = $block.find(".snippet");

	var idx = $block.index();
	if ( idx == -1 ) {
		console.log("wrong snippet-block index");
		return;
	}

	var chapidx = $(".current.tab").html();

	var path = $("#title").text() + "/" + chapidx + "/" + idx;

	$.ajax({
		url: "/insert/snippet",
		data: {
			path:path,
		},
		success: function() {
			insertNewSnippet(idx);
			console.log("success");
		}
	});
});

$(document).on("click", ".remove.button", function() {
	var ok = confirm("Do you really want delete it? It cannot be restored.");
	if ( !ok ) {
		return;
	}

	$block = $(this).parents(".snippet-block");
	$snippet = $block.find(".snippet");

	var idx = $block.index();
	if ( idx == -1 ) {
		console.log("wrong snippet-block index");
		return;
	}

	var chapidx = $(".current.tab").html();

	var path = $("#title").text() + "/" + chapidx + "/" + idx;

	$.ajax({
		url: "/remove/snippet",
		data: {
			path:path,
		},
		success: function() {
			$block.remove();
			console.log("success");
		}
	});
});

$(document).on("click", ".oneliner.button", function() {
	var $block = $(this).parents(".snippet-block");
	var $snippet = $block.find(".snippet");

	var orig = $snippet.find(".orig").val();
	$snippet.find(".orig").val(orig.replace(/\n/g, " "));

	var trans = $snippet.find(".trans").val();
	$snippet.find(".trans").val(trans.replace(/\n/g, " "));

	$snippet.find(".snippet-bar").css("display", "block");
});

$("textarea").each(function() {
	var offset = this.offsetHeight - this.clientHeight;
	$(this).css('height', this.scrollHeight + offset);
});

$(document).on("input propertychange", "textarea", function() {
	$(this).parents(".snippet").find(".snippet-bar").css("display", "block");
	var offset = this.offsetHeight - this.clientHeight;
	// TODO: $(this).css('height', 'auto') couldn't shirink textarea nicely,
	// what's the alternatives? no plug-in.
	$(this).css('height', this.scrollHeight + offset);
});

$(document).on("click", ".button", function() {
	$(this).parent(".snippet-bar").css("display", "none");
	$(this).parent().parent().find("textarea").each(function() {
		var offset = this.offsetHeight - this.clientHeight;
		$(this).css('height', 'auto').css('height', this.scrollHeight + offset);
	});
});

function newChapter() {
	var i = String(Number($(".tab").last().html()) + 1);
	var path = $("#title").text() + "/" + i;

	$.ajax({
		url: "/new/chapter",
		data: {
			path: path,
		},
		success: function() {
			console.log("success");
			location.href = "/doc/" + path;
		}
	});
}

$(document).on("click", ".show-orig.button", function() {
	$(document).find(".snippet-top").show();
	$(document).find(".snippet-bottom").hide();
	$(document).find(".snippet-divider").hide();
});

$(document).on("click", ".show-trans.button", function() {
	$(document).find(".snippet-top").hide();
	$(document).find(".snippet-bottom").show();
	$(document).find(".snippet-divider").hide();
});

$(document).on("click", ".show-all.button", function() {
	$(document).find(".snippet-top").show();
	$(document).find(".snippet-bottom").show();
	$(document).find(".snippet-divider").show();
});

</script>

</body>

</html>
