<!DOCTYPE html5>
<html>

<head>
	<meta charset="UTF-8">
	<title>Late</title>
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<script type="text/javascript" src="/script/jquery.js"></script>
</head>

<body>
<div id="top">Late</div>
<div id="tab-selector">
	<a href="javascript:newDocument()"><div class="new-tab">New</div></a>
</div>
<div id="main">
	<div class="blank" style="height:20px;"></div>
	<div id="shelf">
		{{range $g := .BookGroups}}
		<div class="row" style="width:970px;">
			{{range $b := $g}}
			<div class="doc" data-title='{{.Title}}'>
				<a href='{{printf "/doc/%v/0" .Title}}'><div class="inline" style="width:173px;">{{.Title}}</div></a>
				<div class="inline remove button">-</div>
				<hr style="height:0px;border-style:none;border-top:1px solid lightgray">
				{{range $ch := .Chapters}}
				<a href='{{printf "/doc/%v/%v" $b.Title .Num}}' style="text-decoration:none">{{.Num}}</a>
				{{end}}
			</div>
			{{end}}
		</div>
		{{end}}
	</div>
</div>

<script>
function newDocument() {
	title = prompt("what will be the document name?");
	if ( title === null ) {
		return;
	}
	exist = false;
	$(".doc").each(function() {
		if ( this.innerHTML == title ) {
			exist = true;
		}
	});
	if ( exist ) {
		console.log("the doc already exist!");
		return;
	}

	$.ajax({
		url: "/new/doc",
		data: {
			title:title,
		},
		success: function() {
			console.log("success");
			location.href="/";
		}
	});
}

$(document).on("click", ".remove.button", function() {
	var $doc = $(this).parent(".doc");
	var title = $doc.data("title");
	var ok = confirm("Do you really want delete '" + title + "'? It cannot be restored.");
	if ( !ok ) {
		return;
	}

	$.ajax({
		url: "/remove/doc",
		data: {
			path:title,
		},
		success: function() {
			$doc.hide();
			console.log("success");
		}
	});
});

</script>
</body>

</html>
